Flask==0.10.1
Jinja2==2.8
MarkupSafe==0.23
Werkzeug==0.11.3
argparse==1.4.0
gunicorn==19.4.5
itsdangerous==0.24
pbr==1.8.1
six==1.10.0
stevedore==1.10.0
virtualenv==14.0.5
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.1
